@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1615280959749'); /* IE9 */
  src: url('iconfont.eot?t=1615280959749#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKsAAsAAAAABlAAAAJgAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApcbAE2AiQDCAsGAAQgBYRtBy8bkQXIrjE2hltNJESelulUJOyhA/m59481YLlFBM+vseb93UXcI92zaFItCRIJYtNSyR4q3O3/mqYERqS+LBkU+oP8A86lg+cn5Dojp9SE3ITbxM0CHws7n8MC2polXDint4X6ZZ+AreiNsOddrx8SMcvlP9dAFhG0+cS90z+BPsjqAeW4F401aVIXUBcHUoB7YRQnUkIZN4xd4BLuE6jQoymzuDldoSxnLQvEtWNpUM6F5XKWKxNKavbm4kGhLN2lP3Affj9+9KNMUmSshpXTtQmzd3ZB0X+2fUKEgA4XyDAF5MRGbXpJTjAupyKdNwD2VRu8w3eJvdoF++us6irQBRX3pHRVt5pLcFtjtQG9o95KtPlcoeP7Mz0j+OATbh4ytHVCz75i+cavTu7fRwziC/BLdkmrbvca3JO4GfxZdpsCyCB4rbsAYypz8PbT0Jbr5wVle/IEf0TZsyfX1ZYz5aqydjBpO1NThQr8h/0N/sZamk+fD2WaR3hLdafIlBkic3YKhUrTKFFmBhUmbQ9XasRyIi/HhA+AUOcbSY1HZOr8kDn7i0KLf5SoixwqbAV4ZqWRcKomkyZkov6OjhGFynFLNao9k/XwNc6qQ/5OnDox7FFMMbelkHiODemL1RdRqDgKcAMeI9+PMObIJUPatkg86NBh3YvaRhRA1QJGNIKYkO4dchgiIeUPF9XS58+I5cGn4ZaumvwdYSlnctTT1u1Bbg1hr657eSb1wtInhIIUFgmgDZhFfL4IiutnuYhBtNkjkrGBjt1P9TW01zcFX3cEKljWFPaUTHFkk+EBAAAA') format('woff2'),
  url('iconfont.woff?t=1615280959749') format('woff'),
  url('iconfont.ttf?t=1615280959749') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1615280959749#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\e645";
}

